@{
    Layout = "_master.cshtml";
}


<h1>Xml</h1>

<form role="form" action="/" method="POST">
    <div class="form-group">
        <textarea name="xml" class="form-control" rows="27">@Model.CSharpCode</textarea>
    </div>

    <!-- Standard button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block">Convert</button>
</form>
    


